# API Server configuration
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000

# Snowflake configuration
NODE_ID=1

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@db:5432/shortener
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=shortener
DB_HOST=db
DB_PORT=5432

# Redis Configuration
REDIS_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379
